<footer class="bg-black text-light py-5">
    <div class="container">
        <div class="d-flex gap-5 justify-content-between">
            {% for category in posts|slice:":1"%}
            <a href="{% url 'post-detail' category.id %}" class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4 text-white">Paragraph</h5>
                <img src="{{category.image.url}}" alt="Nature" class="img-fluid mb-3 rounded">
                <p class="text-muted">{{category.description}}</p>
            </a>
            {% endfor %}

            <div class=" mb-4" style="max-width: 300px;">
                <h5 class="text-uppercase mb-4">Latest Post</h5>
                {% for post in posts|slice:":3" %}
                <a href="{% url 'post-detail' post.id %}" class="d-flex mb-3">
                    <img src="{{post.image.url}}" alt="Post 1" class="rounded me-2" style="width: 70px; height: 50px; object-fit: cover;">
                    <div>
                        <h6 class="mb-0 text-white">{{post.title}}</h6>
                        <small class="text-muted">March 15, 2018 </small>
                    </div>
                </a>
                {% endfor %}
               
              
            </div>

            <div class="">
                <h5 class="text-uppercase mb-4">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="{% url 'home' %}" class="text-decoration-none text-white">Home</a></li>
                    <li class="mb-2"><a href="{% url 'about'%}" class="text-decoration-none text-white">About Us</a></li>
                    <div class="dropdown d-inline-block">
                        <a class="dropdown-toggle text-white" href="#" role="button">
                            Categories
                        </a>
                        <div class="dropdown-menu">
                            {% for category in categories %}
                            <a class="dropdown-item" href="{% url 'category' category.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}">{{category.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <li class="mb-2"><a href="{% url 'contact'%}" class="text-decoration-none text-white">Contact</a></li>
                </ul>

                <h5 class="text-uppercase mb-4 mt-4">Social</h5>
                <div class="d-flex flex-column gap-2">
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-twitter me-2"></i>Twitter
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-facebook me-2"></i>Facebook
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-instagram me-2"></i>Instagram
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-vimeo me-2"></i>Vimeo
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-youtube me-2"></i>Youtube
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <i class="fab fa-snapchat me-2"></i>Snapshot
                    </a>
                </div>
            </div>
        </div>

        <div class="container mt-4 pt-4  text-muted">
            <p class="mb-0">Copyright ©2025 All rights reserved | This template is made with ❤ by Colorlib</p>
        </div>
    </div>
</footer>