{% extends "layouts/base.html"%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}


{% block content %}
<section class="mb-5 pb-5">
    <div class="container">
      
      <div class="d-flex justify-content-between flex-wrap mt-5 ">
        <div class=" col-lg-8 main-content">
          
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-4">{{about.title}}</h2>
              <p class="mb-5"><img class="w-100" src="{{about.image.url}}" alt="Image placeholder" class="img-fluid"></p>
              <p>{{about.description}}</p>
            </div>
          </div>

          <div class="row mb-5 mt-5">
            <div class="col-md-12 mb-5">
              <h2>My Latest Posts</h2>
            </div>
            <div class="col-md-12">
                {% for post in main_obj %}
                <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;" class="card mb-4">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{post.image.url}}" alt="Golden Gate Bridge" class="img-fluid rounded-start h-100 object-fit-cover">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex gap-2 mb-2">
                                    <span class="category-badge bg-primary p-1 text-white">{{post.category}}</span>
                                    <small class="text-muted">March 15, 2018</small>
                                    <small class="text-muted">• 3</small>
                                </div>
                                <h5 class="card-title">{{ post.title }}</h5>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            
           


            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                  <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>

          

        </div>

      
         {% include 'side-bar.html'%}
        
       

      </div>
    </div>
  </section>
{% endblock %}