{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


<div class="container mt-5">
    <div class="row   row-cols-lg-2 justify-content-between">
        
        <div class="col-lg-8">
            {% if current_category.object_list %}
                <h2 class="card-title pb-3">{{ current_category.object_list.0.name }} Category</h2>
            {% endif %}
        

            <div class="row row-cols-2 row-cols-lg-2 gy-4 justify-content-between">
                {% for post in posts %}
                    <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;" class="col">
                        <div class="p-3 card">
                            <div class="post">
                                <img class="img-fluid w-100" style="height: 200px;" src="{{ post.image.url }}" alt="{{ post.title }}">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.created_at|date:"F d, Y" }} • 🍡 {{ post.views }}</p>
                                <p class="card-text">{{ post.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        
    
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    {% if current_category.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-circle mx-1" href="?page={{ current_category.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
        
                    {% for num in current_category.paginator.page_range %}
                        <li class="page-item {% if current_category.number == num %}active{% endif %}">
                            <a class="page-link rounded-circle mx-1" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
        
                    {% if current_category.has_next %}
                        <li class="page-item">
                            <a class="page-link rounded-circle mx-1" href="?page={{ current_category.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% include 'side-bar.html'%}
    </div>

  
</div>